<div class="row questions">
  <div class="span8">
    <h1>Get started</h1>
    <%= form_for @user, :id => "js-user-new-form" do |f| %>

      <div class="form-row name">
        <label>What's your email?</label>
        <%= f.text_field :email %>
      </div>

      <div class="form-row nickname">
        <label>What does your mom know you as?</label>
        <%= f.text_field :nickname %>
      </div>

      <div class="form-row">
        <label>What's your mom's email?</label>
        <%= f.text_field :moms_email %>
      </div>

      <div class="form-row">
        <label>How often should we email?</label>
        <%= f.select :frequency, ['Once a week', 'Once every two weeks', 'Once every four weeks'], :prompt => "Please select one" %>
      </div>

      <h3>Design your email template:</h3>

      <p class="template"><span contenteditable>Hi Mom, I missed you! Today I went </span><input type="text" name="user[option1]" placeholder="snowboarding,hiking,biking" /> with <input type="text" name="user[option2]" placeholder="Mike,Tracy,Phil" />. We had a lot of fun! I was thinking about you and decided to touch base. Hope things are <input type="text" name="user[option3]" placeholder="dandy,great,awesome,well" />, miss you!</p>

      <div class="form-row">
        <%= f.submit "Submit" %>
      </div>

    <% end %>
  </div>
</div>
